<!DOCTYPE html>
<html>

<head>
  <title>Scala.js + Laminar = Love</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="https://alcdn.msauth.net/browser/2.15.0/js/msal-browser.js"
      integrity="sha384-o+Sncs5XJ3NEAeriM/FV8YGZrh7mZk4GfNutRTbYjsDNJxb7caCLeqiDabistgwW" crossorigin="anonymous">
    </script>
    <script type="text/javascript">
        if (typeof Msal === 'undefined') document.write(unescape("%3Cscript src='https://alcdn.msftauth.net/browser/2.15.0/js/msal-browser.js' type='text/javascript' crossorigin='anonymous' %3E%3C/script%3E"));
    </script>
    <script src="./authConfig.js"></script>
    <script src="./authPopup.js"></script>
    <script src="./authRedirect.js"></script>
    <script src="./graph.js"></script>
    <script src="./graphConfig.js"></script>
    <script src="./ui.js"></script>
</head>
<body>
      <div id="app-container"></div>
</body>
</html>
